<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="CodeGenerators">
      <directory>tests/CodeGenerators</directory>
    </testsuite>
    <testsuite name="EthStatic">
      <directory>tests/EthStatic/Unit</directory>
    </testsuite>
    <testsuite name="EthMainnet">
      <directory>tests/EthMainnet/Unit</directory>
    </testsuite>
    <testsuite name="TestEthClient">
      <directory>tests/TestEthClient/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SERVER_URL" value="http://127.0.0.1:8545"/>
    <env name="NETWORK_ID" value="5777"/>
    <env name="INFURA_MAINNET_URL" value=""/>
  </php>
</phpunit>
